@{
    ViewData["Title"] = "Home Page";
}

	<div class="text-center">
		<h1 style="margin-top:5%;" class="display-2">Welcome to Flute</h1>
		<br />
		<h4>What is <em>Flute?</em></h4>

		<br />

		<p>FLute is a Machine Learning platform that allows user's to upload a labeled cs dataset, and then train a Binary Neural Network, which you can then consume using a REST API.</p>

		<br />

		<h4>Getting started</h4>
		<br />

		<p>To get started, click the <strong><em>Training</em></strong> tab in the navbar, or click <a asp-controller="Home" asp-action="Training">here</a>.</p>
	</div>
